@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: "100vh";
  background-image: url("./images/wall-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.test-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-field {
  margin: 10px;
  position: relative;
}

.book-cover {
  height: 180px;
}

.book-rating {
  color: red;
}
